 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

 :root {
   --background-color: rgb(226, 224, 224);
   --text-color: rgb(0 70 96);
   --text-white-color: white;
   --light-gray: rgb(179, 179, 179);
 }

 * {
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
   transition: all .2s linear;
   font-style: 'Raleway', sans-serif;
 }

 html {
   scroll-behavior: smooth;
   scroll-padding-top: 7px;
   overflow-x: hidden;
 }

 body {
   overflow-x: hidden;
   background-color: var(--background-color);
 }
 /* Link{
  color: white;
 } */

 /* --------------------------------------------------login / register section--------------------------------------------- */
 .Container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 8rem;
   height: 100%;
   overflow-x: hidden;
   width: 100%;
 }

 .PageContainer {
   border-radius: .5rem;
   width: 20%;
   background-color: rgb(240, 238, 238);
 }

 .HeaderSection h2 {
   font-weight: 700;
 }

 .HeaderContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 2rem;
 }
 .LoginHeaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-top: 2rem;
 }
 .UserProfileSection {
   margin-top: 1rem;
 }

 .TopSection {
   display: flex;
   justify-content: flex-end;
   padding: 1rem 1rem;
   align-items: center;
 }

.LoginUrl a{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color);
}
.LoginUrl Link{
  color: var(--text-color);
}
 .BackSection i {
   font-size: 1.2rem;
   color: var(--text-color);
 }

 .SignUp a {
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--text-color)
 }

 .InputSection {
   width: 100%;
   /* margin-left: 2rem; */
 }

 .InputSection input {
   font-size: .9rem;
   margin-top: .5rem;
   width: 15rem;
   border-radius: 2rem;
   height: 2.5rem;
   color: var(--text-color);
   padding: .5rem 1.5rem;
   background-color: white
 }

 .ForgetPasswordUrlLink  {
   font-weight: 500;
  margin-right: 8rem;
   margin-top: .8rem;
   font-size: .9rem;
 }

 .ForgetPasswordUrlLink a {
   text-decoration: underline;
   color: var(--text-color);
 }

 .Button button {
   border-radius: 1rem;
   width: 20rem;
   margin-top: 4rem;
   position: relative;
   right: 4rem;
   height: 2.5rem;
   font-size: .9rem;
   background-color: var(--text-color);
   color: var(--text-white-color);
 }

 /* ------------------------------------ForgetPassword Section------------------------------ */
 .ForgetPasswordSection {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-top: 2rem;
 }
 .LoginUrl p{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 20rem;
 }
.ForgetPasswordContainer{
  margin-top: 7rem;
}
 .ForgetPasswordContainer img {
   margin-left: 8rem;
   margin-top: 1rem;
 }

 .ForgetPasswordContainer h1 {
   margin-left: 4rem;
 }

 .ForgetPasswordInputSection {
   margin-top: 1rem;
 }

 .ForgetPasswordInputSection input {
   margin-left: 1rem;
   width: 90%;
   height: 3rem;
   margin-top: 1rem;
 }

 .ForgetPasswordInputSection .Submit {
   padding: 1rem 3rem;
   margin-right: 3rem;
   margin-left: 3rem;
 }

 /* ----------------------------------------RecoverPasswordContainer--------------------------------------- */

 .RecoverPasswordContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .RecoverPasswordContainer .RecoverPasswordSection {
   margin-top: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .RecoverPasswordSection img {
   margin-top: 2rem;
 }

 .ResetPasswordInputSection {
   margin-top: 2rem;
 }

 .ResetPasswordInputSection input {
   width: 100%;
   height: 3rem;
   margin-top: 1rem;
 }

 .ResetPasswordInputSection .Submit {
   width: 90%;
   margin-left: 1rem;
   margin-right: 2rem;
 }

 /* -------------------------------------------Rolepage section-------------------------------------- */
 .SelectModeContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .MainContainer {
   margin-top: 3rem;
 }

 .MainContainer h2 {
   font-size: 1rem;
   font-weight: 600;
   text-transform: uppercase;
 }

 .ModeSection {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   width: 30rem;
   margin-top: 2rem;
 }

 .UnderLine {
   height: .2rem;
   width: 80%;
   background-color: var(--text-color);
 }

 /* -------------------------------------------------------navbar section-------------------------------------------- */
 .Navbar {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   box-shadow: 0px 1px 5px var(--text-color);
   padding: .8rem .5rem;
   background-color: rgb(236, 235, 235);
 }

 .SearchSection span {
   position: relative;
   top: .7rem;
   /* right: .5rem; */
   font-size: 1.1rem;
 }

 .SearchSection input {
   width: 100%;
   background-color: transparent;
   margin-top: .1rem;
   padding: .5rem .1rem .5rem 1rem;
   border: none;
   font-size: 1.1rem;

 }

 .SearchSection input:hover {
   border: none;
 }

 .SearchSection input:active {
   border: none;
 }

 .SearchSection {
   display: flex;
   height: 2.8rem;
   width: 18rem;
   font-size: 1.2rem;
   padding: 0 1rem 0 1rem;
   border-radius: 2rem;
   border: 2px solid rgb(150, 150, 150);
   margin-right: .26rem;
   color: var(--text-color);
   background-color: white;
 }

 .SearchSection:hover {
   border: 2px solid var(--text-color);
 }

 .SearchSection:active {
   border: 2px solid var(--text-color);
 }

 .ProfileSection {
   height: 3rem;
   width: 3rem;
   color: white;
   border-radius: 50%;
   text-align: center;
   padding-left: .1rem;
   padding-top: .6rem;
   background-color: var(--text-color);
 }

 .ProfileSection p {
   font-size: 1.5rem;
 }

 /* ----------------------------------------slider section----------------------------------- */
 #app {
   height: 100%;
 }

 html,
 body {
   position: relative;
   height: 100%;
 }

 body {
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
 }

 .swiper {
   width: 100%;
   height: 10vh;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .swiper-button-prev:after,
 .swiper-rtl .swiper-button-next:after {
   display: none;
 }

 .swiper-button-next:after,
 .swiper-rtl .swiper-button-prev:after {
   display: none;
 }

 .AddUserSection button {
   color: white;
   display: inline-block;
   border-radius: 2.5rem;
   position: fixed;
   bottom: 7rem;
   right: 1rem;
   padding: 1.2rem 1.5rem;
   background-color: var(--text-color);
   transition: .3s background-color ease-in-out;
 }

 .AddUserSection button:active {
   background-color: rgb(1, 55, 75);
   box-shadow: 1px 1px 10px black;
 }

 .AddUserSection p {
   font-size: 1.1rem;
 }
 .AddUserSection span{
  margin-right: .5rem;
 }

 /* ----------------------------------StudentListSection---------------------------------------------- */

 .StudentBox {
   display: flex;
   align-items: center;
   padding: .5rem 1rem;
   /* justify-content: space-between; */

 }

 .StudentBoxss {
   display: flex;
   align-items: center;
   padding: .5rem 1rem;
   justify-content: space-between;

 }

 .StudentProfile {
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   background-color: var(--text-color);
   text-align: center;
   padding-top: .6rem;
   font-size: 1.5rem;
   color: white;
   flex: 0 0 47px;
 }

 .StudentName {
   margin-left: 1rem;
   font-size: 1.2rem;
 }

 .BreakPoint {
   height: .05rem;
   width: 65%;
   margin-left: 5rem;
   margin-top: .5rem;
   margin-bottom: .5rem;
   background-color: gray;
 }

 .StudentEmail {
   display: none;
 }

 .StudentTextSection {
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

 /* ---------------------------------------------StudentDataList------------------------------------------- */
 .StudentDataList {
   margin-top: 5rem;
   padding-bottom: 6rem;
 }

 /* -----------------------------------UserDetail---------------------------- */

 /* ----------------------------------AddTextSection---------------------------------------- */
 .AddTextSection {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   /* height: 100vh; */
 }

 .AddTextContainer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   background-color: white;
   border-top-right-radius: 1.5rem;
   border-top-left-radius: 1.5rem;
   padding-bottom: 2rem;
   padding-left: 2rem;
 }

 .AddTextContainer .Text {
   width: 100%;
 }

 .AddTextContainer .Text img {
   position: relative;
   top: 2.7rem;
   left: 3%;
 }

 .AddTextContainer .image {
   position: relative;
   right: 2.7rem;
   top: 1.1rem;
 }

 .AddTextContainer input {
   width: 100%;
   padding-left: 2.7rem;
   padding-right: 2.9rem;
   height: 3rem;
   font-size: 1.1rem;
 }

 .AddTextContainer .Submit {
   margin-right: 2rem;
   margin-top: .5rem;
 }

 /* ----------------------------UserNavbarContainer---------------------------------------- */
 .UserNavbarContainer {
   display: flex;
   align-items: center;

 }

 .UserNavbarSection {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white;
   box-shadow: 0 1px 5px var(--text-color);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: .5rem 1rem;
 }

 .UserNavbarSection .UserName {
   margin-left: 1rem;
 }

 /* -------------------------------------- UpComingLecture section---------------------------------*/
 .UpComingLectureBoxs {
   width: 25%;
   line-height: 1.2rem;
   padding: .5rem 1rem 1.5rem 1rem;
   border-radius: .5rem;
   margin-bottom: 2rem;
   border: 2px solid var(--text-color);
 }

 .UpComingLectureBoxs:hover {
   background-color: var(--text-color);
   color: white;
 }

 .UpComingLectureBoxs:active {
   background-color: var(--text-color);
   color: white;
 }

 .UpComingLectureDate p {
   margin-left: 10rem;
   margin-bottom: .5rem;
 }

 .TextSection span img {
   position: relative;
   display: inline;
   top: 2rem;
   margin-left: 7.5rem;
 }

 .UpComingLectureSection {
   width: 100%;
 }

 .UpComingLectureContainer {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .TextSection {
   display: inline;
   padding: 0rem 1rem;
 }


 /* ------------------------------------------UpComingLecturePageSection------------------------------------------ */
 .UpComingLecturePageSection {
   width: 100%;
 }

 .UpComingLecturePageContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .NotificationNavbarContainer {
   margin-right: 3rem;
 }

 /*----------------------------------------------StudentAddSection-------------------------------------------------------*/
 .StudentAddSection {
   width: 100%;
 }

 .StudentAddContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 8rem;
 }

 .StudentAdd {
   padding: 1rem;
   border-radius: .4rem;
   border: 2px solid var(--text-color);
 }

 .StudentAddInputSection label {
   display: inline;
   font-size: 1rem;
 }

 .StudentAdd h2 {
   margin-left: 6rem;
 }

 .StudentEmail {
   margin-top: .7rem;
 }

 /* ----------------------------------input--------------------------- */
 .StudentAddInputSection input {
   margin-left: 1.5rem;
   width: 60%;
 }

 .StudentAdd img {
   margin-top: 1rem;
   margin-left: 8rem;
 }

 input {
   height: 2.4rem;
   padding: 0rem 1rem;
   border-radius: 2rem;
   font-size: .9rem;
   border: 2px solid rgb(176, 175, 175);
   background-color: white;
 }

 input:focus {
   border: 2px solid var(--text-color);
 }

 .StudentAddInputSection {
   margin-top: 1rem;
 }

 .StudentAddInputSection .course {
   margin-top: 1rem;
 }

 .StudentAddInputSection .Batch {
   margin-top: 1rem;
 }

 select {
   margin-left: .5rem;
   border-radius: .2rem;
   padding: .5rem;
 }

 select:focus {
   border: 2px solid var(--text-color);
 }

 .Instructor {
   margin-top: 1rem;
 }

 /* ------------------Submit------------------------ */
 .Submit {
   margin-top: 2rem;
   padding: .8rem 7rem;
   color: white;
   font-size: 1rem;
   margin-left: 2rem;
   border-radius: 2rem;
   margin-bottom: 1rem;
   background-color: var(--text-color);
   transition: 1s linear box-shadow;
 }

 .Submit:active {
   background-color: rgb(0, 57, 77);
 }

 /* ---------------------------UpComingLectureTeacherSection-------------- */
 .UpComingLectureTeacherSection {
   width: 100%;
 }

 .UpComingLectureTeacherContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .UpComingLecture h1 {
   margin-top: 3rem;
   margin-left: 4rem;
 }

 .UpComingLectureTeacherBox {
   margin-top: 5rem;
   width: 100%;
 }

 .AddLecture {
   position: fixed;
   bottom: 8rem;
   right: 1rem;
   background-color: var(--text-color);
   display: inline-block;
   padding: 1rem 1.5rem;
   font-size: 1.2rem;
   border-radius: 2rem;
 }

 .AddLecture:active {
   background-color: rgb(1, 53, 72);
 }

 .AddLecture p{
  color: white;
 }
 .AddLecture span {
   margin-right: .5rem;
 }

 /* -----------------------------AddLectureSection--------------------------------- */
 .AddLectureNavbar{
  display:flex;
  justify-content: flex-start;
  align-items: center;

 }
 .AddLectureSection {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .AddLectureContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 1rem;
   border-radius: .5rem;
   border: 2px solid var(--text-color);
   margin-top: 9rem;
   width: 50%;
 }

 .AddLectureInputSection label {
   font-size: 1rem;
 }

 .AddLectureInputSection input {
   margin-left: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
 }

 .AddLectureInputSection textarea {
   margin-left: 3rem;
 }

 .AddLectureContainer img {
   margin-top: 1rem;
 }

 .WeakDays {
   margin-top: .5rem;
   margin-bottom: 1rem;
 }

 /* ---------------------------------UserMessageContainer-------------------------- */
 .UserMessageContainer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 70%;
 }

 .UserMessageSection {
   margin-right: .5rem;
   display: inline-block;
   padding: .5rem 1rem;
   border-radius: .5rem;
   color: white;
   margin-bottom: .5rem;
   background-color: var(--text-color);
   border: 2px solid var(--light-gray);
 }

 .UserMessageSection p {
   line-height: 1.3rem;
 }

 /* -----------------------------------UserDetailContainer------------------------- */

 .DisplaySection {
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 5rem;
   width: 100%;
   margin-bottom: 4rem;
   /* height: 50%; */
 }

 /* ------------------------------------BottomNavbar section--------------------------------------------------- */
 .BottomNavbarContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: .5rem 1rem;
   position: fixed;
   bottom: 0;
   left: 0;
   height: 4rem;
   box-shadow: 1px 0px 5px var(--text-color);
   background-color: white;
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;
 }

 .BottomNavbarSection {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
 }

 .BottomNavbarBox {
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .BottomNavbarBox:nth-child(4) {
   margin-top: 0rem;
 }

 .BottomNavbarBox .bell img {
   margin-left: .4rem;
   margin-top: .3rem;
 }

 .BottomNavbarBox span {
   font-size: .9rem;
   display: inline-block;
   position: relative;
   bottom: .9rem;
   font-weight: 900;
   color: rgb(184, 2, 108)
 }

 .BottomNavbarTextContent {
   padding-top: .2rem;
 }

 /* ------------------------------------------------------------NotificationPageContainer------------------------------- */
 .NotificationContainer {
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .NotificationSection {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 80%;
 }

 .NotificationContainer .NotificationBox {
   display: flex;
   align-items: baseline;
   width: 100%;
   flex-direction: column;
   margin-top: 7rem;
 }

 .NotificationContainer .UpperContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem .5rem;
   width: 100%;
 }

 .UserMessage h3 {
   color: rgb(83, 83, 83)
 }

 .SecondContainer {
   margin-top: .2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem;
 }

 .date {
   margin-left: 61rem;
 }

 .thirdContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 1rem;
   padding-bottom: .5rem;
 }

 .thirdContainer p span {
   text-align: center;
   height: 3rem;
   width: 3rem;
   padding: .7rem;
   border-radius: 50%;
   background-color: var(--text-color);
 }

 .thirdContainer p span i {
   rotate: 90deg;
   color: white;
 }





 /* ------------------------------------------------NotificationContainer--------------------------------------- */
 .NotificationPageSection {
   width: 100%;
 }

 .NotificationDisplayContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-top: .8rem;
 }

 .NotificationList {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-top: 4rem;
   margin-bottom: 5rem;
 }

 .NotificationBox {
   margin-top: 1rem;
   border: 2px solid var(--text-color);
   border-radius: .5rem;
   width: 80%;
   padding: .5rem 1rem;
   text-align: center;
 }

 .NotificationBox p {
   font-size: 1.1rem;
 }

 .NotificationBox:hover {
   color: white;
   background-color: var(--text-color);
 }

 .NotificationBox::after {
   color: white;
   background-color: var(--text-color);
 }
 .LectureMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  color: var(--text-color);
 }
 .LectureMessage img{
  padding-bottom: 1rem;
 }

 /* ----------------------------------------RoadMapConatiner------------------------------------------- */
 .RoadMapContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* margin-top: 6rem; */
 }

 .RoadMapNavbar {
   display: flex;
   justify-content: flex-start !important;
   align-items: center;
 }

 .RoadMapTextSection {
   margin-left: 45%;
 }

 .NavbarMenuSection {
   padding: 1rem 1rem 0 1rem;
   margin-top: 3.3rem;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--text-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   font-size: 1rem;
 }

 .NavbarMenuSection .active {
   padding: .5rem;
   background-color: white;
   color: black;
   border-top-right-radius: .5rem;
   border-top-left-radius: .5rem;
   font-weight: 600;
 }

 .MenuNavbar li {
   list-style: none;
 }

 .MenuNavbar {
   position: absolute;
   top: 3.15rem;
   left: -20rem;
   color: white;
   line-height: 3rem;
   border-bottom-right-radius: .5rem;
   background-color: var(--text-color);
   transition: .4s linear;
   height: 100vh;
 }

 .MenuNavbar.active {
   left: 0;
   padding: 1rem 2rem 1rem 2rem;
 }

 .button {
   padding-bottom: .2rem;
 }

 /* -------------------------------------------------Profile------------------------------------ */
 .ProfileContainer {
   width: 100%;
   position: fixed;
   bottom: -15rem;
   left: 0;
   transition: bottom .4s linear;
 }

 .ProfileContainer.active {
   bottom: 0rem;
 }

 .profileContainerss {
   width: 100%;
   border-top-right-radius: 2rem;
   border-top-left-radius: 2rem;
   padding: 1rem .5rem;
   background-color: white;
 }

 .Profile {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: .5rem;
 }

 .Profile span {
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   color: white;
   display: inline-block;
   text-align: center;
   font-size: 1.2rem;
   padding-top: .8rem;
   background-color: var(--text-color);
 }

 .Profile div {
   margin-left: .5rem;
 }
 .Button .Logout{
  margin-top: 3rem;
    height: 3.2rem;
    margin-left: 6rem;
 }

 .EditSection {
   display: inline-block;
   padding: .5rem 1rem;
   margin-left: 5rem;
   border: 1px solid var(--light-gray);
   border-radius: 1.2rem;
   /* cursor: pointer; */
 }

 .EditSection .Edit {
   margin-left: .5rem;
 }

 .seprationTwoDiv {
   height: .02rem;
   width: 80%;
   margin-left: 2rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   background-color: gray;
 }

 .Button {
  margin-right: 2.7rem;
   margin-top: -2rem;
   width: 40%;
 }

 /* -----------------------------------------------ProfileEditSection---------------------------------------- */
 .ProfileEditSection .UpperSection {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem 2rem .7rem 1.5rem;
   box-shadow: 0 1px 5px var(--text-color);
 }

 .ProfileEditSection .UpperSection span {
   font-size: 1.2rem;
 }

 .ProfileEditSection .UpperSection span:nth-child(2) {
   font-size: 1.2rem;
   font-weight: 600;
   margin-left: 1.5rem;
 }

 .ProfileEdit {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 3rem;
   flex-direction: column;
 }

 .ProfilePhoto {
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   align-items: center;
   text-align: center;
   /* border: 2px solid var(--text-color); */
 }

 .ProfileEdit input {
   background-color: transparent;
   border: none;
   margin-left: 5rem;
   margin-top: 1rem;

 }

 .ProfileEdit div:first-child {
   border-bottom: 1px solid var(--text-color);
 }

 .ProfileEdit div:nth-child(2) {
   border-bottom: 1px solid var(--text-color);
 }

 .ProfileDetailSection {
   margin-top: 2rem;
   line-height: 2rem;
 }

 .ProfileDetailSection p {
   font-size: 1.2rem;
 }

 .ProfileEdit .Submit {
   margin-top: 4rem;
   margin-right: 2rem;
 }

 /* -----------------------------------------------------PresentContainer---------------------------------- */
 .StudentDataListSection {
   margin-top: 7.5rem;
   margin-bottom: 4rem;
 }

 .PresentContainer .Navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }

 .PresentSection {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
 }

 .DownloadSection {
   background-color: var(--text-color);
   color: white;
   font-weight: 500;
   font-size: .8rem;
   padding: .5rem 1rem;
   border-radius: 2rem;
   cursor: pointer;
 }

 .DifferentButtonSection {
   width: 100%;
   /* height: 4rem; */
   background-color: var(--text-color);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-right: .5rem;
   margin-top: 3rem;
 }

 .DifferentButtonSection .button {
   margin-top: 1.5rem;
   margin-left: .5rem;
   border-top-right-radius: .5rem;
   border-top-left-radius: .5rem;
   padding: .5rem 1rem;
   font-size: .9rem;
   font-weight: 600;
   color: white;
   transition: active .3s linear;
 }

 .DifferentButtonSection .active {
   margin-top: 1.5rem;
   margin-left: .5rem;
   border-top-right-radius: .5rem;
   border-top-left-radius: .5rem;
   padding: .5rem 1rem;
   font-size: .9rem;
   font-weight: 600;
   background-color: white;
   color: var(--text-color);
 }

 .DifferentButtonSection span {
   margin-left: .5rem;
   position: relative;
   bottom: 0.2rem;
 }

 /* ------------------------------------------StudentListPresenty---------------------------------- */
 .Attendance {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .AttendanceButton {
   height: 2.4rem;
   width: 2.4rem;
   padding-top: .4rem;
   font-size: 1.2rem;
   text-align: center;
   border-radius: 50%;
   color: white;
   margin-left: .8rem;
 }

 .AttendanceButton:first-child {
   border: 2px solid rgb(2, 97, 2);
   background-color: rgb(2, 97, 2);
 }

 .AttendanceButton:first-child:hover {
   background-color: rgb(1, 67, 1);
 }

 .AttendanceButton:nth-child(2) {
   border: 2px solid red;
   background-color: rgb(210, 23, 23);
 }

 .AttendanceButton:nth-child(2):hover {
   background-color: red;
 }

 .AttendanceButton:nth-child(2):focus {
   background-color: red;
 }

 /* --------------------------------------NotificationNavbar--------------------- */

 .NotificationNavbar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: .7rem;
   padding-left: .5rem;
   padding-right: .5rem;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 0 1px 7px var(--text-color);
   background-color: white;
   z-index: 1000;
 }

 .NotificationTextSection {
   font-size: 1.1rem;
 }

 .Clear {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 .NotificationHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 /* ---------------------------------------SelectModeNavbar--------------------- */
 .SelectModeNavbar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: .7rem;
   padding-left: .5rem;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
 }

 .SelectModeTextSection {
   margin-left: 6.5rem;
   font-size: 1rem;
 }

 /* ----------------------------------------RoadMapSection------------------ */
 
   .RoadMapSection {
    display: flex;
    align-items: center;
    position: relative;
    right: 2.95rem;
 }

 /* --------------------------------------UpComingLectureSection--------------------------------- */
 .NotificationTextSectionss {
   margin-left: 3.5rem;
   font-size: 1.1rem;
 }

 .AllComingLecture {
   margin-top: 4.5rem;
 }

 /* --------------------------------------------------------MapContainer----------------------------- */
 .MapContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .MapSection {
   margin-top: 10rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding-bottom: 5rem;
 }

 .MapBox {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 1rem;
   text-align: center;
   padding: 1rem 1rem;
   width: 90%;
   background-color: white;
   margin-bottom: 2rem;
 }

 .MapBoxTextContainer ul li {
   font-size: .9rem;
   color: rgb(127, 127, 127);
 }

 .MapBox h3 {
   color: var(--text-color);
 }

 .MapBoxTextContainer {
   line-height: 2rem;
 }

 .MapBoxTextContainer .Green {
   color: #3fdb86;
   font-weight: 600;
 }

 .MapBoxTextContainer .Red {
   color: red;
   font-weight: 600;
 }

 .footerTextCircularSection {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100;

 }
.SeprateFooter{
  margin-top: 3rem;
    margin-bottom: 2rem;
    height: 0.01rem;
    width: 70%;
    margin-right: 1rem;
    background-color: gray;
}

 .footerTextCircularSection p {
   color: var(--text-color);
   line-height: 1rem;
   font-size: .8rem;
 }

 /* ----------------------------------------------------RoadMapDataContainer----------------------------------------------- */
 .RoadMapDataContainer {
   overflow-x: hidden;
   margin-bottom: 5rem;
 }

 .RoadMapDataContainer ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 1rem 0 1rem;
   margin-top: 3.3rem;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--text-color);
 }

 
 .RoadMapDataContainer ul li {
   list-style: none;
 }
 .RoadMapDataContainer ul li button {
   font-size: 1rem;
   color: white;
   background-color: transparent;
   padding: .5rem;
 }
.RoadMapDataContainer ul li button:focus {
   padding: .5rem;
   background-color: white;
   color: black;
   border-top-right-radius: .5rem;
   border-top-left-radius: .5rem;
   font-weight: 600;
 }
 .RoadMapDataContainer ul li button:hover {
  padding: .5rem;
  background-color: white;
  color: black;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  font-weight: 600;
}
.SelectCourse{
  margin-top: 8rem;
  margin-left:.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.Detail{
  margin-top: 1rem;
}
.Detail p{
  margin-top: 1rem;
  margin-left: .5rem;
  font-size: .9rem;
}
.suggestion{
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 600;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.Detail img ,iframe{
  border-radius: 1rem;
}
.spp{
  margin-top: 2rem;
}
.BottomNavbarBox a{
  color: var(--text-color);
}
.BottomNavbarElement{
  display: flex;
   align-items: center;
   flex-direction: column;
}
.MapSection h3{
  font-size: 1.2rem;
  margin-bottom: .5rem;
  word-spacing: .1rem;
  color: var(--text-color);
}












 /* -----------------------------media query section------------------- */
 @media only screen and (max-width:600px) {

   /* ------------------------------------login/register form------------------------------------ */
   .html {
     overflow-x: hidden;
   }

   .Container {
     width: 100%;
     height: 100vh;
     margin-top: 0;
   }

   .PageContainer {
     padding: .5rem 1rem;
     width: 100%;
     height: 100vh;
   }

   .HeaderContainer {
     width: 100%;
     margin-top: 4rem;
   }

   .UserProfileSection img {
     margin-top: 2rem;
   }

   .InputSection {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column
   }

   .InputSection input {
     /* margin-left: 1rem; */
     width: 22rem;
     font-size: 1rem;
     height: 3.2rem;
     margin-top: 1rem;
     background-color: transparent;
   }

   .InputSection input:focus {
     border: 2px solid var(--text-color);
   }

   /* .forgetPassword span {
     margin-right: 9rem;
     margin-top: 1rem;
   }
    */

   .Button button {
    margin-top: 5rem;
     height: 3.2rem;
   }

   /* ---------------------register part---------------------- */
   .sepration {
     margin-top: 8rem;
     margin-bottom: 2rem;
     height: .01rem;
     width: 70%;
     margin-right: 1rem;
     background-color: gray;
   }

   .RegisterText p {
     text-align: center;
     margin-left: rem;
     font-size: .8rem;
     color: gray;
   }


   /* --------------------------------------role play section------------------------------------------ */
   .ModeSection {
     width: 100%;
     flex-direction: column;
   }

   .RoleBox:hover {
     color: white;
     background-color: var(--text-color);
   }

   .RoleBox:active {
     color: white;
     background-color: var(--text-color);
   }

   .MainContainer h1 {
     font-size: 1.5rem;
   }

   .RoleBox {
     text-align: center;
     width: 80%;
     height: 10rem;
     border-radius: .8rem;
     margin-top: 3rem;
     padding: 1rem 3rem;
     font-size: 1.05rem;
     margin-bottom: 1rem;
     padding-left: 4rem;
     border: 2px solid var(--text-color);
   }

   .UnderLine {
     margin-top: .5rem;
     margin-left: 1.2rem;
     margin-bottom: 1rem;
     height: .1rem;
     width: 80%;
     background-color: var(--text-color);
   }

   .UnderLine:hover {
     background-color: white;
   }

   .UnderLine:active {
     background-color: white;
   }

   .StudentSection p {
     margin-bottom: .5rem;
     text-align: center;
   }

   .RoleIcon {
     height: 8rem;
     width: 4rem;
     position: relative;
     top: .5rem;
   }

   .sepSelectMode {
     margin-top: 9rem;
     margin-right: 3rem;
   }

   .SelectModeFooter {
     color: var(--text-color);
     font-size: .75rem;
     padding: 0rem 1.5rem;
     text-align: center;
   }

   /* -------------------------------------- UpComingLecture section---------------------------------*/
   .UpComingLectureBoxs {
     padding: 0rem 1rem;
     width: 80%;
   }

   .UpComingLectureDateAndDaySection {
     display: flex;
     justify-content: space-between;
   }

   .UpComingLectureDay {
     margin-top: .5rem;
     display: inline-block;
   }

   .UpComingLectureDate {
     display: inline-block;
   }

   .UpComingLectureDate p {
     margin-top: .5rem;
     margin-left: 4.5rem;
   }

   /* ---------------------------AdStudent Section----------------------- */
   /* .StudentAdd{
  border: none;
} */
   .StudentAdd h2 {
     margin-left: 8rem;
   }

   .StudentAdd img {
     margin-left: 9rem;
   }

   .StudentAddInputSection {
     margin-top: 2rem;
   }

   .StudentAddInputSection .Submit {
     margin-top: 3rem;
     margin-left: 3rem;
   }

   .AddLectureContainer {
     width: 90%;
   }
   .AddLectureNavbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1px 5px var(--text-color);
   }
   .AddLectureNavbarTextSection{
    margin-left: 6rem;
   }

   .WeakDays {
     margin-top: .5rem;
     margin-bottom: 1rem;
   }

   .WeakDays option {
     margin-bottom: 1.5rem;
   }

   .AddLectureContainer .AddLectureInputSection {
     margin-top: 2rem;
   }

   .AddLectureInputSection textarea {
     margin-left: 1rem;
     padding: .5rem;
     font-size: 1rem;
     border-radius: .2rem;
   }

   .AddLectureInputSection textarea:active {
     border: 2px solid var(--text-color);
   }

   .date {
     margin-left: 6rem;
   }

   .footerTextCircularSection {
     text-align: center;
     width: 90%;
   }

   .RoadMapTextSection {
     margin-left: 25%;
   }

 }